<div class="success-block">
    <div class="success-icon">
        <img src="{{ asset('img/like_up_vote_icon.png') }}" width="50px" height="50px" alt="success_icon">
    </div>
    <div class="success_msg">
        {% if success_msg is defined %}
            {{ success_msg }}
        {% endif %}
    </div>
</div>