{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: #cccccc">Login Form!</h1>

    <div>
        <div>
            {% if error%}
                {{ error.message }}
            {% endif %}
        </div>
        <form action="{{ path('user_login') }}" method="post">
            <label for="user_email">Email:</label>
            <input type="text" id="user_email" name="_email" value="{{ last_user_email }}">

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password">

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}