div.container {
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 1.5rem;
    background: #cccccc;
    box-sizing: border-box;
}

div.torrent-list {
    width: 100%;
    font-size: 20pt;
}

div.torrent-list div.item a {
    display: flex;
    text-decoration: none;
    color: black;
}

div.torrent-list div.item a:hover {
    color: #4fde2f;
}

div.filter form {
    display: flex;
    justify-content: space-between;
}

div.filter form div label {
    padding-right: 4px;
    font-size: 17pt;
}

div.filter form div input, div.filter form div select {
    width: 250px;
}