@font-face {
    font-family: PixelifySans-Regular;
    src: url("../font/pixelify/PixelifySans-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../font/roboto/Roboto-Regular.ttf");
}

.pixel-font {
    font-family: 'PixelifySans-Regular';
}

.roboto-font {
    font-family: 'Roboto';
}

body {
    background-image: url("../img/stars.jpg");
    margin: 0;
    padding: 0;
}

img.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: move-stars 30s linear infinite;
}

@keyframes move-stars {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

/* Header*/
nav.menu {
    width: 80%;
    margin: 0 auto;
}

nav.menu ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    list-style-type: none;
}

nav.menu ul a,input {
    color: white;
    font-size: 24px;
    text-decoration: none;
    background: none;
    border: none;
}

nav.menu ul a:hover, input:hover{
    text-shadow: 0px 0px 15px white;
}